.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight:400;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-family: "Baskervville", serif;
  font-size: 2rem;
  margin: 0.67rem 0;
}

h2 {
  font-family: "Baskervville", serif;
  font-size: 0.6rem;
  margin: 0.22rem;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.3rem;
  margin: 0.22rem;
}

p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cover {
    height: 700px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("src/cover2.jpg");
    background-color: #000;
   }

   .bg-black
   {
    background-color: #000;
   }