.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}



html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
  background-color: #ffffff !important;

}

main {
  display: block;
}

h1 {
  font-family: "Prata", serif;
  font-size: 2rem;
  margin: 0.67rem 0;
}

h2 {
  font-family: "Prata", serif;
  color: #505050 !important;
  font-size: 0.6rem;
  margin: 0.22rem;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  color: #505050  !important;;
  font-size: 0.3rem;
  margin: 0.22rem;
}

p {
  font-family: "DM Sans", sans-serif;
  color: #505050  !important;;
    font-style: normal;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #000000 !important;
  --bs-nav-link-hover-color: #000000 !important;
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex
;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.cover {
    height: 400px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("src/cover4.jpg");
    background-color: #ffffff;
   }

   .bg-black
   {
    background-color: #ffffff;
   }
